@model InvoiceMaker.FormModels.EditWorkDone

<h1>Edit a WorkDone</h1>

@using (Html.BeginForm("Create", "WorkDone", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
    @Html.AntiForgeryToken()


    <fieldset>
        <div>
                @Html.LabelFor(model => model.Client.Id)
                @Html.DropDownListFor(m => m.Client, Model.ClientSelectList, "Client")
                @Html.ValidationMessageFor(model => model.Client, "", new { @class = "pure-form-message-inline" })

                @Html.LabelFor(model => model.WorkType.Id)
                @Html.DropDownListFor(m => m.WorkType.Id, Model.WorkTypeSelectList, "Work Type")
                @Html.ValidationMessageFor(model => model.WorkType.Id, "", new { @class = "pure-form-message-inline" })
               
            <div class="pure-control-group">
                @Html.LabelFor(model => model.StartedOn)
                @Html.EditorFor(model => model.StartedOn)
                @Html.ValidationMessageFor(model => model.StartedOn, "", new { @class = "pure-form-message-inline" })
            </div>

            <div class="pure-control-group">
                @Html.LabelFor(model => model.EndedOn)
                @Html.EditorFor(model => model.EndedOn)
                @Html.ValidationMessageFor(model => model.EndedOn, "", new { @class = "pure-form-message-inline" })
            </div>

        </div>
        <div class="pure-controls">
            @Html.ActionLink("Cancel", "Index", new { }, new { @class = "pure-button" })
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
}

